<?xml version="1.0" encoding="utf-8"?>
<ShaderWindowSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Width>640</Width>
  <Height>480</Height>
  <VSync>On</VSync>
  <ClearColor>Black</ClearColor>
  <ClearMask>DepthBufferBit ColorBufferBit</ClearMask>
  <WindowState>Fullscreen</WindowState>
  <DisplayDevice>Primary</DisplayDevice>
  <TargetRenderFrequency>0</TargetRenderFrequency>
  <RenderState />
  <GraphicsMode>
    <ColorFormat>
      <Red>8</Red>
      <Green>8</Green>
      <Blue>8</Blue>
      <Alpha>8</Alpha>
    </ColorFormat>
    <Depth>16</Depth>
    <Stencil>0</Stencil>
    <Samples>0</Samples>
    <AccumulatorFormat>
      <Red>0</Red>
      <Green>0</Green>
      <Blue>0</Blue>
      <Alpha>0</Alpha>
    </AccumulatorFormat>
    <Buffers>2</Buffers>
    <Stereo>false</Stereo>
  </GraphicsMode>
  <Shaders>
    <ShaderConfiguration xsi:type="ViewportEffect">
      <Name>Accumulate</Name>
      <Enabled>true</Enabled>
      <RenderState />
      <ShaderUniforms>
        <UniformConfiguration xsi:type="FloatUniform">
          <Name>alpha</Name>
          <Value>0.1</Value>
        </UniformConfiguration>
      </ShaderUniforms>
      <BufferBindings>
        <BufferBinding xsi:type="TextureBinding">
          <Name>tex</Name>
          <TextureSlot>Texture0</TextureSlot>
          <TextureName>input</TextureName>
        </BufferBinding>
        <BufferBinding xsi:type="TextureBinding">
          <Name>accum</Name>
          <TextureSlot>Texture1</TextureSlot>
          <TextureName>accumulator</TextureName>
        </BufferBinding>
      </BufferBindings>
      <FramebufferAttachments>
        <FramebufferAttachmentConfiguration>
          <TextureName>render</TextureName>
          <Width xsi:nil="true" />
          <Height xsi:nil="true" />
          <Attachment>ColorAttachment0</Attachment>
          <InternalFormat>Rgba</InternalFormat>
          <Format>Rgba</Format>
          <Type>UnsignedByte</Type>
          <ClearColor>Black</ClearColor>
          <ClearMask>DepthBufferBit ColorBufferBit</ClearMask>
        </FramebufferAttachmentConfiguration>
      </FramebufferAttachments>
      <FragmentShader>accumulator.frag</FragmentShader>
      <QuadEffects>None</QuadEffects>
    </ShaderConfiguration>
    <ShaderConfiguration xsi:type="ViewportEffect">
      <Name>Render</Name>
      <Enabled>true</Enabled>
      <RenderState />
      <ShaderUniforms />
      <BufferBindings>
        <BufferBinding xsi:type="TextureBinding">
          <Name>tex</Name>
          <TextureSlot>Texture0</TextureSlot>
          <TextureName>render</TextureName>
        </BufferBinding>
      </BufferBindings>
      <FramebufferAttachments />
      <FragmentShader>render.frag</FragmentShader>
      <QuadEffects>None</QuadEffects>
    </ShaderConfiguration>
    <ShaderConfiguration xsi:type="Material">
      <Name>Expand</Name>
      <Enabled>true</Enabled>
      <RenderState />
      <ShaderUniforms>
        <UniformConfiguration xsi:type="FloatUniform">
          <Name>scale</Name>
          <Value>1.1</Value>
        </UniformConfiguration>
      </ShaderUniforms>
      <BufferBindings>
        <BufferBinding xsi:type="TextureBinding">
          <Name>tex</Name>
          <TextureSlot>Texture0</TextureSlot>
          <TextureName>render</TextureName>
        </BufferBinding>
      </BufferBindings>
      <FramebufferAttachments>
        <FramebufferAttachmentConfiguration>
          <TextureName>accumulator</TextureName>
          <Width xsi:nil="true" />
          <Height xsi:nil="true" />
          <Attachment>ColorAttachment0</Attachment>
          <InternalFormat>Rgba</InternalFormat>
          <Format>Rgba</Format>
          <Type>UnsignedByte</Type>
          <ClearColor>Black</ClearColor>
          <ClearMask>DepthBufferBit ColorBufferBit</ClearMask>
        </FramebufferAttachmentConfiguration>
      </FramebufferAttachments>
      <VertexShader>expand.vert</VertexShader>
      <FragmentShader>render.frag</FragmentShader>
      <MeshName>Quad</MeshName>
    </ShaderConfiguration>
  </Shaders>
  <Textures>
    <TextureConfiguration xsi:type="Texture2D">
      <Name>input</Name>
      <Width xsi:nil="true" />
      <Height xsi:nil="true" />
      <InternalFormat>Rgba</InternalFormat>
      <WrapS>Repeat</WrapS>
      <WrapT>Repeat</WrapT>
      <MinFilter>Linear</MinFilter>
      <MagFilter>Linear</MagFilter>
    </TextureConfiguration>
    <TextureConfiguration xsi:type="Texture2D">
      <Name>accumulator</Name>
      <Width xsi:nil="true" />
      <Height xsi:nil="true" />
      <InternalFormat>Rgba</InternalFormat>
      <WrapS>Repeat</WrapS>
      <WrapT>Repeat</WrapT>
      <MinFilter>Linear</MinFilter>
      <MagFilter>Linear</MagFilter>
    </TextureConfiguration>
    <TextureConfiguration xsi:type="Texture2D">
      <Name>render</Name>
      <Width xsi:nil="true" />
      <Height xsi:nil="true" />
      <InternalFormat>Rgba</InternalFormat>
      <WrapS>Repeat</WrapS>
      <WrapT>Repeat</WrapT>
      <MinFilter>Linear</MinFilter>
      <MagFilter>Linear</MagFilter>
    </TextureConfiguration>
  </Textures>
  <Meshes>
    <MeshConfiguration xsi:type="TexturedQuad">
      <Name>Quad</Name>
      <QuadEffects>None</QuadEffects>
    </MeshConfiguration>
  </Meshes>
</ShaderWindowSettings>